<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="wfs30-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.wfs30.TestRunListener" />
    <listener class-name="org.opengis.cite.wfs30.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.wfs30.TestFailureListener" />
  </listeners>

  <test name="Core">
    <packages>
      <package name="org.opengis.cite.wfs30.apidescription" />
    </packages>
    <classes>
      <class name="org.opengis.cite.wfs30.SuitePreconditions" />
    </classes>
  </test>

</suite>
