<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ogcapi-features-1.0-${version}" verbose="0" configfailurepolicy="continue">
  <parameter name="iut" value="" />
  <parameter name="ics" value="" />

  <listeners>
    <listener class-name="org.opengis.cite.ogcapifeatures10.listener.TestRunListener" />
    <listener class-name="org.opengis.cite.ogcapifeatures10.listener.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.ogcapifeatures10.listener.TestFailureListener" />
  </listeners>

  <test name="Core">
    <packages>
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.general" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.landingpage" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.apidefinition" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.conformance" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.core.collections" />
    </packages>
    <classes>
      <class name="org.opengis.cite.ogcapifeatures10.conformance.SuitePreconditions" />
    </classes>
  </test>

  <test name="Coordinate Reference Systems by Reference">
    <packages>
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs.discovery.collection" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs.discovery.collections" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs.query.crs.features" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs.query.crs.feature" />
      <package name="org.opengis.cite.ogcapifeatures10.conformance.crs.query.bboxcrs" />
    </packages>
  </test>

</suite>
